@use '../01-settings/variables' as *;
@use '../02-tools/mixins' as *;

.t-our-company {
    padding-bottom: calc($grid-base * 6);
    padding-top: calc($grid-base * 9);

    &__left {
        margin-bottom: calc($grid-base * 4);

        @include medium-up {
            margin-bottom: 0;
        }
    }

    &__right {
        text-align: center;

        @include medium-up {
            padding-right: calc($grid-base * 3);
            text-align: right;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        margin-right: calc($grid-base * 3);
        margin-bottom: calc($grid-base * 2.5);
    }
}
